@import "../../variables.scss";
.content {
    padding: 30px 20px;
    display: flex;
    @media (max-width: 1024px) {
        display: block;
    }
    .product {
        flex: 4;
        display: flex;
        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
        @media (max-width: 768px) {
            display: block;
        }
        .productImg {
            img {
                width: 300px;
            }
            @media (max-width: 1024px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .productInfo {
            margin: 0 15px;
            @media (max-width: 768px) {
                margin: 20px 0;
            }
            h1 {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            .brand {
                text-transform: capitalize;
                margin: 12px 0;
                span {
                    color: $blueLink;
                }
            }
            .productPrice {
                color: #999;
                font-size: 14px;
                span {
                    color: red;
                    font-size: 18px;
                }
            }
            .productRating {
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                .star {
                    font-size: 20px;
                    color: $darkenOrange;
                    cursor: pointer;
                }
                .rateCount {
                    margin-left: 10px;
                    color: $blueLink;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .stars {
                    border: 2px solid transparent;
                    border-radius: 7px;
                    position: relative;
                    &:hover {
                        border: 2px solid $blueLink;
                    }
                }
                .title {
                    color: #999;
                }
                .starsList {
                    li {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        span {
                            color: $blueLink;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .block {
        flex: 1;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        .blockContent {
            p {
                color: $blueLink;
                margin-bottom: 20px;
                line-height: 1.5;
            }
            .productPrice {
                margin-bottom: 15px;
                span {
                    color: red;
                    font-size: 18px;
                }
            }
            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                width: 100%;
                border-radius: 9999px;
                margin-bottom: 10px;
                transition: all 0.15s ease;
            }
            .addBtn {
                background-color: gold;
                &:hover {
                    background-color: darken(gold, 5%);
                }
            }
            .buyBtn {
                background-color: $orange;
                &:hover {
                    background-color: darken($orange, 5%);
                }
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }
}
