@import "../../variables.scss";
.item {
    margin-top: 25px;
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        .placed {
            font-size: 12px;
            margin-right: 25px;
        }
        .total {
            font-size: 13px;
        }
        .count {
            margin-left: auto;
            flex-wrap: nowrap;
            color: $blueLink;
            font-size: 16px;
            .remove {
                color: red;
                margin-top: 5px;
                background-color: #fff;
                font-size: 14px;
            }
        }
        .label {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    .images {
        margin-top: 20px;
        display: flex;
        align-items: center;
        overflow: hidden;
        overflow-x: auto;
        gap: 20px;
        img {
            width: 100px;
            object-fit: contain;
            height: 100px;
        }
    }
}
