@import "../../variables.scss";
.item {
    margin-top: 25px;
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        .placed {
            font-size: 12px;
            margin-right: 25px;
        }
        .total {
            font-size: 12px;
        }
        .count {
            margin-left: auto;
            flex-wrap: nowrap;
            color: $blueLink;
            font-size: 16px;
        }
        .label {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    .images {
        margin-top: 15px;
        display: flex;
        align-items: center;
        overflow: hidden;
        overflow-x: auto;
        gap: 20px;
        img {
            width: 80px;
        }
    }
}
