@import "../../variables.scss";

.popup {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    color: black;
    z-index: 4;
    border-radius: 7px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transform: rotate(45deg);
        top: -5px;
    }
}
