@import "../../../variables.scss";
.item {
    flex: 0 1 0;
    img {
        width: 160px;
        height: 160px;
        object-fit: contain;
    }
    .itemTitle {
        color: $blueLink;
        margin: 10px 0;
        line-clamp: 3;
        overflow-y: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
        transition: all 0.1s ease;
        cursor: pointer;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        &:hover {
            text-decoration: underline;
        }
    }
    .itemPrice {
        color: red;
        font-size: 18px;
        letter-spacing: 0px;
    }
}
