@import "../../variables.scss";
.item {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    img {
        width: 220px;
        object-fit: contain;
        cursor: pointer;
        height: 150px;
        @media (max-width: 768px) {
            width: 150px;
            height: 150px;
        }
    }
    .itemInfo {
        margin-left: 20px;
        flex: 1 1 auto;
        .itemTitle {
            text-transform: capitalize;
            color: black;
            flex: 1 1 auto;
            font-size: 18px;
            overflow-y: hidden;
            text-overflow: ellipsis;
            line-height: 1.5;
            transition: all 0.1s ease;
            cursor: pointer;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            &:hover {
                color: $darkenOrange;
            }
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
        .price {
            font-size: 18px;
        }
        .rating {
            margin: 15px 0;
        }
        .brand {
            text-transform: capitalize;
            margin-top: 5px;
            span {
                color: $blueLink;
            }
        }
    }
}
