@import "../../variables.scss";
.header {
    border-bottom: 0.5px solid #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titleFor {
        font-weight: bold;
        font-size: 20px;
        span {
            color: $darkenOrange;
        }
    }
    .sort {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 7px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.1s ease;
        &:hover {
            background-color: #e7e7e7;
        }
        select {
            cursor: pointer;
            background-color: transparent;
            option {
                width: 100%;
            }
        }
        label {
            cursor: pointer;
        }
    }
}

.section {
    padding-top: 20px;
    display: flex;
    width: calc(100vw - 28px + 4px);
    .list {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0 10px;
        flex: 100%;
        .notFound {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
        }
    }
    .itemsLoader {
        margin: 0 auto;
    }
}
